In [1]:
import pandas as pd
from pathlib import Path
import re

In [2]:
datasets = Path("../data/dataset")

In [33]:
anos = [i for i in range(2016, 2023)]

maiores_cidades = [
    "JOINVILLE",
    "FLORIANOPOLIS",
    "BLUMENAU",
    "SAO JOSE",
    "ITAJAI",
    "CHAPECO",
    "PALHOCA",
    "CRICIUMA",
    "JARAGUA DO SUL",
    "LAGES",
    "BRUSQUE",
    "BALNEARIO CAMBORIU",
    "TUBARAO",
    "CAMBORIU",
    "NAVEGANTES",
    "RIO DO SUL",
    "ITAPEMA",
    "ARMAZEM",
    "CONCORDIA",
    "CACADOR",
    "ITUPORANGA",
    "SAO MIGUEL DO OESTE",
    "RIO NEGRINHO",
    "SAO BONIFACIO",
    "BIGUACU",
    "SAO FRANCISCO DO SUL",
    "ICARA",
    "GASPAR",
    "MAFRA",
    "IRATI",
    "PALMITOS",
    "LAJEADO GRANDE",
    "PIRATUBA",
    "IBIRAMA",
    "ENTRE RIOS",
    "ORLEANS",
    "BALNEARIO PICARRAS",
    "PORTO UNIAO",
    "BRACO DO NORTE",
    "SAO LOURENCO DO OESTE",
    "PORTO BELO",
    "PONTE ALTA DO NORTE",
]


dfs = [pd.read_csv(datasets / f"leitos_{i}.csv", sep=";") for i in anos]

In [34]:
for i, df in enumerate(dfs):
    df["ano"] = anos[i]
    df["Município"] = df["Município"].apply(lambda s : re.sub(r'^\d+\s*', '', s))
    df.drop(df.index[-1], inplace=True)
    df = df.query("Município in @maiores_cidades")
    df.rename(columns={'Quantidade_existente': 'leitos'}, inplace=True)

    dfs[i] = df.reset_index(drop=True)

C:\Users\Vitor Rodrigues\AppData\Local\Temp\ipykernel_5436\3526830793.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'Quantidade_existente': 'leitos'}, inplace=True)
C:\Users\Vitor Rodrigues\AppData\Local\Temp\ipykernel_5436\3526830793.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'Quantidade_existente': 'leitos'}, inplace=True)
C:\Users\Vitor Rodrigues\AppData\Local\Temp\ipykernel_5436\3526830793.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'Quantidade_existente': 'leitos'}, inplace=True)
C:\Users\Vitor Rodrigues\AppData\Local\Temp\ipykernel_5436\3526830793.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'Quantidade_existente': 'leitos'}, inplace=True)
C:\Users\Vitor Rodrigues\AppData\Local\Temp\ipykernel_5436\3526830793.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'Quantidade_existente': 'leitos'}, inplace=True)
C:\Users\Vitor Rodrigues\AppData\Local\Temp\ipykernel_5436\3526830793.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'Quantidade_existente': 'leitos'}, inplace=True)
C:\Users\Vitor Rodrigues\AppData\Local\Temp\ipykernel_5436\3526830793.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'Quantidade_existente': 'leitos'}, inplace=True)

In [35]:
cidades_df = set(dfs[0]["Município"].unique())
cidades_faltando = set(maiores_cidades) - cidades_df

print(cidades_faltando)

{'LAJEADO GRANDE', 'PONTE ALTA DO NORTE', 'PORTO BELO', 'BALNEARIO PICARRAS', 'IRATI', 'PIRATUBA', 'ENTRE RIOS'}

In [36]:
dfs[2].head()

            Município  leitos   ano
0             ARMAZEM      32  2018
1  BALNEARIO CAMBORIU     277  2018
2             BIGUACU      68  2018
3            BLUMENAU     682  2018
4      BRACO DO NORTE      73  2018

In [37]:
dfs[2].shape

(35, 3)

In [38]:
dfs[2].sort_values(by="leitos", ascending=False)

                Município  leitos   ano
11          FLORIANOPOLIS    1589  2018
19              JOINVILLE    1084  2018
31               SAO JOSE    1017  2018
3                BLUMENAU     682  2018
10               CRICIUMA     526  2018
15                 ITAJAI     430  2018
34                TUBARAO     418  2018
20                  LAGES     401  2018
8                 CHAPECO     385  2018
18         JARAGUA DO SUL     334  2018
1      BALNEARIO CAMBORIU     277  2018
5                 BRUSQUE     265  2018
27             RIO DO SUL     258  2018
9               CONCORDIA     184  2018
33    SAO MIGUEL DO OESTE     158  2018
7                CAMBORIU     152  2018
21                  MAFRA     147  2018
28           RIO NEGRINHO     120  2018
6                 CACADOR     118  2018
12                 GASPAR     100  2018
26            PORTO UNIAO      91  2018
14                  ICARA      81  2018
13                IBIRAMA      78  2018
4          BRACO DO NORTE      73  2018
25               PALMITOS      71  2018
2                 BIGUACU      68  2018
17             ITUPORANGA      60  2018
32  SAO LOURENCO DO OESTE      56  2018
23                ORLEANS      52  2018
22             NAVEGANTES      39  2018
30   SAO FRANCISCO DO SUL      37  2018
24                PALHOCA      34  2018
0                 ARMAZEM      32  2018
29          SAO BONIFACIO      24  2018
16                ITAPEMA      20  2018

In [39]:
for df in dfs:
    print(df.shape)

(35, 3)
(35, 3)
(35, 3)
(35, 3)
(35, 3)
(35, 3)
(35, 3)

In [40]:
dfs[2]

                Município  leitos   ano
0                 ARMAZEM      32  2018
1      BALNEARIO CAMBORIU     277  2018
2                 BIGUACU      68  2018
3                BLUMENAU     682  2018
4          BRACO DO NORTE      73  2018
5                 BRUSQUE     265  2018
6                 CACADOR     118  2018
7                CAMBORIU     152  2018
8                 CHAPECO     385  2018
9               CONCORDIA     184  2018
10               CRICIUMA     526  2018
11          FLORIANOPOLIS    1589  2018
12                 GASPAR     100  2018
13                IBIRAMA      78  2018
14                  ICARA      81  2018
15                 ITAJAI     430  2018
16                ITAPEMA      20  2018
17             ITUPORANGA      60  2018
18         JARAGUA DO SUL     334  2018
19              JOINVILLE    1084  2018
20                  LAGES     401  2018
21                  MAFRA     147  2018
22             NAVEGANTES      39  2018
23                ORLEANS      52  2018
24                PALHOCA      34  2018
25               PALMITOS      71  2018
26            PORTO UNIAO      91  2018
27             RIO DO SUL     258  2018
28           RIO NEGRINHO     120  2018
29          SAO BONIFACIO      24  2018
30   SAO FRANCISCO DO SUL      37  2018
31               SAO JOSE    1017  2018
32  SAO LOURENCO DO OESTE      56  2018
33    SAO MIGUEL DO OESTE     158  2018
34                TUBARAO     418  2018

In [41]:
df_final = pd.concat(dfs)

In [42]:
df_final.shape

(245, 3)

In [44]:
df_pivot = df_final.pivot_table(
    index="Município",
    columns="ano",
    values="leitos",
    aggfunc="sum"
)

In [45]:
df_pivot

ano                    2016  2017  2018  2019  2020  2021  2022
Município
ARMAZEM                  32    32    32    31    43    42    45
BALNEARIO CAMBORIU      286   277   277   244   281   282   283
BIGUACU                  86    48    68    68    83    80    63
BLUMENAU                691   691   682   682   696   699   708
BRACO DO NORTE           73    73    73    72    68    68    69
BRUSQUE                 248   226   265   270   270   280   280
CACADOR                 120   115   118   118   100   109   101
CAMBORIU                234   217   152   157   157   157   166
CHAPECO                 374   385   385   385   409   407   406
CONCORDIA               184   184   184   184   168   167   187
CRICIUMA                644   471   526   468   555   515   515
FLORIANOPOLIS          1422  1493  1589  1595  1586  1781  1897
GASPAR                  100   100   100   100   100    99    99
IBIRAMA                  77    77    78    80    71    71    88
ICARA                    81    81    81    91    91    91    91
ITAJAI                  415   415   430   400   422   394   377
ITAPEMA                  20    20    20    30    52    57    57
ITUPORANGA               58    60    60    60    55    55    60
JARAGUA DO SUL          319   336   334   334   318   318   334
JOINVILLE              1060  1065  1084  1186  1148  1213  1122
LAGES                   453   401   401   438   380   406   488
MAFRA                   104   135   147   125   125   122   115
NAVEGANTES               39    39    39    39    39    59    60
ORLEANS                  52    52    52    52    55    55    55
PALHOCA                  34    34    34    34    42    42    42
PALMITOS                 71    71    71    73    73    71    63
PORTO UNIAO              91    91    91    91    99    99    99
RIO DO SUL              264   264   258   258   258   258   258
RIO NEGRINHO            120   120   120    67    85    96    96
SAO BONIFACIO            24    24    24    29    29    29    29
SAO FRANCISCO DO SUL     37    37    37    37    37    37    37
SAO JOSE               1017   945  1017   906   869   887   868
SAO LOURENCO DO OESTE    56    56    56    56    56    55    48
SAO MIGUEL DO OESTE     174   174   158   119   119   108   119
TUBARAO                 418   418   418   463   463   463   441

In [46]:
df_pivot.columns = df_pivot.columns.astype(str)

In [47]:
df_pivot.to_parquet("../data/leitos.parquet")