In [1]:
import pandas as pd
from pathlib import Path
import re

In [2]:
datasets = Path("../data/dataset")

In [3]:
anos = [i for i in range(2016, 2023)]

maiores_cidades = [
    "JOINVILLE",
    "FLORIANOPOLIS",
    "BLUMENAU",
    "SAO JOSE",
    "ITAJAI",
    "CHAPECO",
    "PALHOCA",
    "CRICIUMA",
    "JARAGUA DO SUL",
    "LAGES",
    "BRUSQUE",
    "BALNEARIO CAMBORIU",
    "TUBARAO",
    "CAMBORIU",
    "NAVEGANTES",
    "RIO DO SUL",
    "ITAPEMA",
    "ARMAZEM",
    "CONCORDIA",
    "CACADOR",
    "ITUPORANGA",
    "SAO MIGUEL DO OESTE",
    "RIO NEGRINHO",
    "SAO BONIFACIO",
    "BIGUACU",
    "SAO FRANCISCO DO SUL",
    "ICARA",
    "GASPAR",
    "MAFRA",
    "IRATI",
    "PALMITOS",
    "LAJEADO GRANDE",
    "PIRATUBA",
    "IBIRAMA",
    "ENTRE RIOS",
    "ORLEANS",
    "BALNEARIO PICARRAS",
    "PORTO UNIAO",
    "BRACO DO NORTE",
    "SAO LOURENCO DO OESTE",
    "PORTO BELO",
    "PONTE ALTA DO NORTE",
]


dfs = [pd.read_csv(datasets / f"vacinacao_{i}.csv", encoding='latin1', sep=";").drop("4 Região Sul", axis=1) for i in anos]

In [4]:
for i, df in enumerate(dfs):
    df.rename(columns={" Total": "Vacinacoes"}, inplace=True)
    df["ano"] = anos[i]
    df["Município"] = df["Município"].apply(lambda s : re.sub(r'^\d+\s*', '', s))
    df.drop(df.index[-1], inplace=True)
    df = df.query("Município in @maiores_cidades")

    dfs[i] = df.reset_index(drop=True)

In [5]:
cidades_df = set(dfs[0]["Município"].unique())
cidades_faltando = set(maiores_cidades) - cidades_df

print(cidades_faltando)

set()

In [6]:
dfs[2].head()

            Município  Vacinacoes   ano
0             ARMAZEM        4609  2018
1  BALNEARIO CAMBORIU       58580  2018
2             BIGUACU       23772  2018
3            BLUMENAU      236681  2018
4      BRACO DO NORTE       18447  2018

In [7]:
dfs[2].shape

(42, 3)

In [8]:
dfs[2].sort_values(by="Vacinacoes", ascending=False)

                Município  Vacinacoes   ano
21              JOINVILLE      430767  2018
3                BLUMENAU      236681  2018
17                 ITAJAI      164023  2018
20         JARAGUA DO SUL      158394  2018
8                 CHAPECO      141247  2018
38               SAO JOSE      130327  2018
12          FLORIANOPOLIS      112265  2018
10               CRICIUMA      109547  2018
27                PALHOCA       88594  2018
5                 BRUSQUE       77307  2018
22                  LAGES       69365  2018
41                TUBARAO       64732  2018
1      BALNEARIO CAMBORIU       58580  2018
13                 GASPAR       55833  2018
6                 CACADOR       50390  2018
25             NAVEGANTES       48533  2018
34             RIO DO SUL       46392  2018
9               CONCORDIA       44858  2018
7                CAMBORIU       37285  2018
24                  MAFRA       36494  2018
15                  ICARA       35838  2018
18                ITAPEMA       33500  2018
37   SAO FRANCISCO DO SUL       24643  2018
2                 BIGUACU       23772  2018
19             ITUPORANGA       20589  2018
40    SAO MIGUEL DO OESTE       20164  2018
35           RIO NEGRINHO       18739  2018
4          BRACO DO NORTE       18447  2018
33            PORTO UNIAO       17895  2018
29     BALNEARIO PICARRAS       17308  2018
26                ORLEANS       13892  2018
14                IBIRAMA       10927  2018
32             PORTO BELO        8988  2018
28               PALMITOS        7241  2018
39  SAO LOURENCO DO OESTE        5897  2018
0                 ARMAZEM        4609  2018
30               PIRATUBA        3116  2018
11             ENTRE RIOS        2705  2018
31    PONTE ALTA DO NORTE        2378  2018
16                  IRATI        1317  2018
23         LAJEADO GRANDE        1031  2018
36          SAO BONIFACIO         896  2018

In [9]:
for df in dfs:
    print(df.shape)

(42, 3)
(42, 3)
(42, 3)
(42, 3)
(42, 3)
(42, 3)
(42, 3)

In [10]:
dfs[2]

                Município  Vacinacoes   ano
0                 ARMAZEM        4609  2018
1      BALNEARIO CAMBORIU       58580  2018
2                 BIGUACU       23772  2018
3                BLUMENAU      236681  2018
4          BRACO DO NORTE       18447  2018
5                 BRUSQUE       77307  2018
6                 CACADOR       50390  2018
7                CAMBORIU       37285  2018
8                 CHAPECO      141247  2018
9               CONCORDIA       44858  2018
10               CRICIUMA      109547  2018
11             ENTRE RIOS        2705  2018
12          FLORIANOPOLIS      112265  2018
13                 GASPAR       55833  2018
14                IBIRAMA       10927  2018
15                  ICARA       35838  2018
16                  IRATI        1317  2018
17                 ITAJAI      164023  2018
18                ITAPEMA       33500  2018
19             ITUPORANGA       20589  2018
20         JARAGUA DO SUL      158394  2018
21              JOINVILLE      430767  2018
22                  LAGES       69365  2018
23         LAJEADO GRANDE        1031  2018
24                  MAFRA       36494  2018
25             NAVEGANTES       48533  2018
26                ORLEANS       13892  2018
27                PALHOCA       88594  2018
28               PALMITOS        7241  2018
29     BALNEARIO PICARRAS       17308  2018
30               PIRATUBA        3116  2018
31    PONTE ALTA DO NORTE        2378  2018
32             PORTO BELO        8988  2018
33            PORTO UNIAO       17895  2018
34             RIO DO SUL       46392  2018
35           RIO NEGRINHO       18739  2018
36          SAO BONIFACIO         896  2018
37   SAO FRANCISCO DO SUL       24643  2018
38               SAO JOSE      130327  2018
39  SAO LOURENCO DO OESTE        5897  2018
40    SAO MIGUEL DO OESTE       20164  2018
41                TUBARAO       64732  2018

In [11]:
df_final = pd.concat(dfs)

In [12]:
df_final.shape

(294, 3)

In [ ]:
df_pivot = df_final.pivot_table(
    index="Município",
    columns="ano",
    values="Vacinacoes",
    aggfunc="sum"
)

In [14]:
df_pivot

ano                      2016    2017    2018    2019    2020    2021    2022
Município
ARMAZEM                  2539    3564    4609    8224    5295    4376    7497
BALNEARIO CAMBORIU      34636   34293   58580   99544   80511   68340   64733
BALNEARIO PICARRAS       5784   12503   17308   19433   15633   12873   15074
BIGUACU                 30165   25010   23772   64055   34121   37553   35446
BLUMENAU               175406  201927  236681  309696  228466  177062  172782
BRACO DO NORTE          10681   15033   18447   34385   22606   21452   22379
BRUSQUE                 61935   58470   77307  113071   71795   69558   78587
CACADOR                 41256   40990   50390   50413   43197   37602   31611
CAMBORIU                31585   31808   37285   55202   54102   52535   61243
CHAPECO                105290  140398  141247  138321  150992  102999  167988
CONCORDIA               49543   43488   44858   51264   52627   44919   48448
CRICIUMA                78713   94459  109547  183536  112377   79906  107454
ENTRE RIOS               2960    2803    2705    2383    3064    2177    2373
FLORIANOPOLIS          212839  116917  112265  334002  211759  254946  250998
GASPAR                  29265   31439   55833   86907   47045   38583   40176
IBIRAMA                  7206    7820   10927   18556    8772    5843    7453
ICARA                   29941   28720   35838   61518   16916   14752   31438
IRATI                    1320     936    1317    1343    1062     920     902
ITAJAI                 174952  135192  164023  230580  171436   79670  136120
ITAPEMA                 27129   25320   33500   52012   38813   37540   44644
ITUPORANGA              15726   16255   20589   28384   18120   13162   14663
JARAGUA DO SUL          96878   86545  158394  178763  154917  113739  128281
JOINVILLE              316379  301528  430767  693058  426512  328251  328912
LAGES                   99653   91186   69365   83730   72778   53652   60304
LAJEADO GRANDE            933    1060    1031     903    1034     750     800
MAFRA                   27945   32378   36494   39136   33663   25027   28673
NAVEGANTES              25265   32548   48533   59799   50579   36495   53983
ORLEANS                  7522   10557   13892   25584   15624   13941   14396
PALHOCA                 78323   30600   88594  151221   96587   84730   97853
PALMITOS                 7557    7464    7241    6344    7272    5613    6903
PIRATUBA                  804    1721    3116    2339    2205    2161    3146
PONTE ALTA DO NORTE      2447    2024    2378    2641    2329    1598    1870
PORTO BELO                450    6384    8988   14630   11149   11987   13280
PORTO UNIAO             10257   15095   17895   25848   24804   13506   20282
RIO DO SUL              34202   31312   46392   59661   45102   31358   38435
RIO NEGRINHO            20977   23819   18739   24307   34232   16899   20075
SAO BONIFACIO            1393     994     896    1998    1135    1599     933
SAO FRANCISCO DO SUL    21249   21265   24643   56556   28871   20483   26036
SAO JOSE               103488   78412  130327  187591  132292  110217   88631
SAO LOURENCO DO OESTE    9608    9008    5897    9655   11342    8196   12208
SAO MIGUEL DO OESTE     16220   17121   20164   19858   24706   16905   22683
TUBARAO                 48099   48576   64732  112540   67952   63777   66219

In [17]:
df_pivot.columns = df_pivot.columns.astype(str)

In [19]:
df_pivot.to_parquet("resultado.parquet")